
body{
  background-color:#f3e6fc;
  text-align:center;
}
#player{
  margin:auto;
  width:80%;
  padding-top:2px;

  padding-bottom:2px;
  background:linear-gradient(to right, red 50%,#ffd4d4 60%);
  color:white;
}
#player_c{
  margin:auto;
  padding-bottom:10px;
  width:80%;
  background:linear-gradient(to right, blue 50%,#ffd4d4 60%);
  color:white;
}
#btn_gameStart{
  background:yellow;
  padding:10px;
  border:3px solid green;
  border-radius:2px;
  display:block;
}
#rule{
  align-content:center;
  max-width:1010px;
  background:#fcfff2;
  box-shadow:0 0 20px black;

  border-radius:5px;
  margin: 0 auto;
}
#rule_p{
  margin-left:10px;
  text-align:left;
}
#help_label{
  display:block;
  user-select: none;
}
#help_container{
  width:1020px;
  display:none;
  background-color:#f1f1f1;
  box-shadow:0 0 20px black;
  border-radius:8px;
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:9999;

}
.time{
  display:none;
}
